doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Accesimobil e-Mail Template
  body(style="margin:0;padding:0;background-color:#f4f3ee;color:#676767;font-size:16px;line-height:26px;font-family:'Segoe UI', 'Helvetica Neue', Arial, sans-serif")
    table(width="100%",cellpadding="0",cellspacing="0",border="0")
      tbody
        tr
          td &nbsp;
          td(style="font-size:0;line-height:40px;color:#f4f3ee;background-color:#f4f3ee" width="600") {{hidden email intro text}}
          td &nbsp;
        tr
          td &nbsp;
          td(style="background-color:#ffffff;padding:40px;" width="600")
            table(width="100%",cellpadding="0",cellspacing="0",border="0")
              tbody
                tr
                  td(style="padding:0 0 10px;")
                    a(href="http://www.accesimobil.md" target="_blank" style="text-decoration:none;")
                      img(src="img/logo.png", alt="", style="border:none;width:140px;height:46px;")
                tr
                  td
                    h1(style="font-size:24px;line-height:30px;font-weight:bold;margin:20px 0 10px;color:#000000;") Vă mulțumim pentru abonare!
                    p(style="margin:0 0 26px;") Veți fi informați în fiecare zi, pe întreaga perioadă menționată de Dvs., despre ofertele imobiliare noi apărute pe site-ul <a href="http://www.accesimobil.md" target="_blank" style="color:#ff6600;text-decoration:none;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">www.accesimobil.md</a> care corespund criteriilor selectate.
                    p(style="margin:0 0 26px;") Pentru detalii vă rugăm să ne apelați — <a href="tel:+37378888900" target="_blank", style="color:#ff6600;text-decoration:none;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">078 888 900</a>
                    p(style="margin:0;") Cu respect,<br>Echipa Acces Imobil.
          td &nbsp;
        tr
          td &nbsp;
          td(style="background-color:#3e3e3d;padding:40px;font-size:14px;line-height:20px;" width="600")
            table(width="100%",cellpadding="0",cellspacing="0",border="0")
              tbody
                tr
                  td(style="padding:0 0 10px;" colspan="2")
                    a(href="http://www.accesimobil.md" target="_blank" style="text-decoration:none;")
                      img(src="img/logo2.png", alt="", style="border:none;width:100px;height:33px;")
                tr
                  td(width="60") Telefon:
                  td(style="color:#ffffff") 078 888 900
                tr
                  td(width="60") Adresa:
                  td(style="color:#ffffff") R. Moldova, mun. Chișinău, Grigore Vieru 12/1
          td &nbsp;
        tr
          td &nbsp;
          td(style="font-size:0;line-height:40px;color:#f4f3ee;background-color:#f4f3ee" width="600") &nbsp;
          td &nbsp;
